@charset "UTF-8";
/*! modern-normalize v0.7.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.site-nav, .address-nav, .features__list, .job-direction__list, .container-teams__list, .staff-social__list, .custumers__list, .buttons__list, .portfolio__list, .address-footer, .footer-socials {
  padding: 0px;
  margin: 0;
  list-style: none;
}

/* відключення відступів  */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* --------------- */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-link {
  display: block;
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.29;
}

@media screen and (min-width: 1200px) {
  .logo-link {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-link--inverse {
  color: #ffffff;
}

.logo-accent {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header-nav {
    margin-left: 81px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .site-nav__item + .site-nav__item {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav__link {
  display: inline-block;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav__link {
    padding-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.20;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
}

.site-nav__link--active {
  color: #2196F3;
}

.site-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2px solid #2196F3;
}

@media screen and (max-width: 767px) {
  .header-address {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header-address {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .address-nav__item + .address-nav__item {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-nav__item + .address-nav__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__item + .address-nav__item {
    margin-left: 50px;
  }
}

.address-nav__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 1199px) {
  .address-nav__link {
    padding: 0;
  }
}

.address-nav__link:hover, .address-nav__link:focus {
  color: #2196F3;
}

.address-nav__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.address-nav__icon-phone {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon--cross {
  display: none;
}

.menu-button.is-open .menu-button__icon--cross {
  display: block;
}

.menu-button.is-open .menu-button__icon--menu {
  display: none;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .container__header {
    position: relative;
    min-height: 60px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.first-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .first-mobile {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-height: 90px;
    background-color: white;
    text-align: center;
    display: none;
    padding-top: 120px;
    padding-bottom: 60px;
    z-index: 1;
  }
  .first-mobile.is-open {
    display: block;
  }
}

.banner {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.06em;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 767px) {
  .banner {
    height: 400px;
    width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../css/images/hero-background/hero-480.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../css/images/hero-background/hero-480.png);
    background-size: 768px 400px;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../css/images/hero-background/hero-480@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../css/images/hero-background/hero-480@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .banner {
    height: 400px;
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../css/images/hero-background/hero-768.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../css/images/hero-background/hero-768.png");
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../css/images/hero-background/hero-768@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../css/images/hero-background/hero-768@2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../css/images/hero-background/hero-1600.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../css/images/hero-background/hero-1600.png");
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../css/images/hero-background/hero-1600@2x.png");
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../css/images/hero-background/hero-1600@2x.png");
  }
}

.banner__title {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-transform: uppercase;
  padding-right: 60px;
  padding-left: 60px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .banner__title {
    padding-right: 204px;
    padding-left: 204px;
  }
}

@media screen and (min-width: 1200px) {
  .banner__title {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.banner__botton {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 200px;
  color: #ffffff;
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.banner__botton:hover, .banner__botton:focus {
  background: #188CE8;
}

/* ----------------------------------------------section how it work--------------------------------------------------------------- */
.features {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 480px) {
  .features {
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 62px;
  }
}

.features__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.features__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.features__item {
  margin: 15px;
}

@media screen and (min-width: 480px) {
  .features__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}

.style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.job-direction {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .job-direction {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.job-direction__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .job-direction__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.job-direction__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .job-direction__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.job-direction__item {
  display: block;
  margin: 15px;
  position: relative;
}

.job-direction__link {
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .job-direction__picture {
    width: 450px;
    height: 294px;
  }
}

@media screen and (min-width: 768px) {
  .job-direction__picture {
    width: 226px;
    height: 188px;
  }
}

@media screen and (min-width: 1200px) {
  .job-direction__picture {
    width: 370px;
    height: 294px;
  }
}

.job-direction__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0px;
  left: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .job-direction__position {
    height: 45px;
  }
}

.job-direction__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* -------------------------------------------------------our-teams---------------------------------------------------------------- */
.container-teams {
  padding-top: 94px;
  padding-bottom: 94px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  background: #F5F4FA;
}

.container-teams__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.container-teams__list {
  text-align: center;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .container-teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-teams__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container-teams__item {
  margin: 15px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 480px) {
  .container-teams__photo {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container-teams__photo {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .container-teams__photo {
    width: 270px;
  }
}

.about-staff__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
  padding-top: 30px;
}

.about-staff__profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
  margin-top: 10px;
}

.staff-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  padding-bottom: 24px;
  margin-right: 32px;
  margin-left: 32px;
}

.staff-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: -webkit-grab;
  cursor: grab;
}

.staff-social__link:hover, .staff-social__link:focus {
  background-color: #2196F3;
}

.staff-social__link:hover svg,
.staff-social__link:focus svg {
  fill: #ffffff;
}

.staff-social__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumers {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 767px) {
  .custumers {
    display: none;
  }
}

.custumers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}

.custumers__list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .custumers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .custumers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.custumers__item {
  margin: 15px;
}

.custumers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #AFB1B8;
  height: 90px;
  cursor: -webkit-grab;
  cursor: grab;
}

@media screen and (min-width: 768px) {
  .custumers__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .custumers__link {
    width: 170px;
  }
}

.custumers__link:hover, .custumers__linklink:focus {
  border-color: #2196F3;
}

.custumers__link:hover .custumers__icon,
.custumers__link:focus .custumers__icon {
  fill: #2196F3;
}

.custumers__icon {
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* --------backdrop------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  margin-bottom: 30px;
}

.modal__botton {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transform: translate(-8px, 15px);
          transform: translate(-8px, 15px);
}

.modal__botton:hover .modal__icon {
  fill: #2196F3;
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field {
  position: relative;
  margin-left: 41px;
  padding-right: 41px;
  margin-bottom: 28px;
  font-family: #757575;
  font-style: normal;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-field__input {
  width: 100%;
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  text-indent: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  background-origin: border-box;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border-color: #2196F3;
}

.form-field__input:focus + .form-field__label,
.form-field__input:not(:placeholder-shown) + .form-field__label {
  -webkit-transform: translateY(-40px) translateX(-26px);
          transform: translateY(-40px) translateX(-26px);
  color: #2196F3;
}

.form-field__input:focus ~ .form-field__icon,
.form-field__input:not(:placeholder-shown) ~ .form-field__icon {
  fill: #2196F3;
}

.form-field__label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 0px;
  left: 20px;
  fill: #212121;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__area {
  width: 448px;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__area:focus {
  border-color: #2196F3;
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 54px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
}

.checkbox-field__icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #757575;
  background-image: url(../css/images/icon-check.svg);
  background-origin: border-box;
  border-radius: 2px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-field__input:checked + .checkbox-field__icon {
  background-color: #2196F3;
  border-color: transparent;
}

.checkbox-field__link {
  padding-left: 5px;
}

.button-submit {
  display: inline-block;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  color: #ffffff;
  background: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:hover, .button-submit:focus {
  background: #188CE8;
}

.buttons {
  font-family: Roboto;
  font-style: normal;
  padding-top: 93px;
}

.buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .buttons__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .buttons__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.button-radio {
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-radio:hover, .button-radio:focus {
  color: #ffffff;
  background-color: #2196F3;
}

.buttons__item {
  margin-right: 8px;
}

.buttons__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767px) {
  .buttons__item:nth-child(n+4) {
    padding-top: 15px;
  }
}

.portfolio {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding-top: 30px;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 50px;
  }
}

.portfolio__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    display: block;
  }
}

.portfolio__item {
  margin: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 50ms;
}

.portfolio__item:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__link {
  display: block;
  text-decoration: none;
}

.product__link:hover .product__position {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.product__container {
  position: relative;
  overflow: hidden;
}

.product__position {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.product__kryak {
  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.product__meta {
  padding-top: 20px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-left: 20px;
  margin-bottom: 4px;
}

.product__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 20px;
  padding-bottom: 20px;
}

.off {
  display: none;
}

/* ----------------------------------------------------portfolio------------------------------------------------------------------- */
@media screen and (max-width: 1199px) {
  .area-first {
    text-align: center;
  }
}

.address-footer {
  margin-top: 20px;
}

.area-first__link {
  display: block;
  margin-bottom: 8px;
}

.address-foter__item {
  margin-bottom: 9px;
}

.address-foter__item:last-child {
  margin-bottom: 0px;
}

.address-footer__link {
  display: block;
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer__link:hover, .address-footer__link:focus {
  color: #2196F3;
}

.footer-address__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.area-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 767px) {
  .area-second {
    padding-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .area-second {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .area-second {
    margin-left: 69px;
  }
}

.area-second__title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-socials__item {
  margin-right: 10px;
}

.footer-socials__item:last-child {
  margin-right: 0;
}

.footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: #2196F3;
}

.footer-socials__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .area-third {
    text-align: center;
    padding-top: 60px;
  }
}

.area-third__title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-form__input {
  max-height: 50px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
    margin-right: 159px;
    margin-left: 159px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__botton {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 12px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  max-height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.copyright {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 18px;
  padding-bottom: 21px;
}

@media screen and (max-width: 1199px) {
  .copyright {
    display: none;
  }
}

.footer-page {
  background: #2F303A;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .footer-page {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .footer-page {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-page {
    width: 1600px;
  }
}

.footer-area {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
/*# sourceMappingURL=styles.css.map */