.area-third{
      @media screen and (max-width: 1199px){
        text-align: center;
        padding-top: 60px;
    }
   



}

.area-third__title{
  font-family: $font-text;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}


.footer-form__input{
 
  max-height: 50px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  color: $primary-white-color;
 
  @media screen and (max-width: 767px){
     margin-bottom: 20px; 
  }
 
@media screen and (min-width : $tablet) and (max-width: 1199px){
    width: 450px;
    margin-right: 159px;
    margin-left: 159px;
    margin-bottom: 20px;}

    @media screen and (min-width: $decktop){
        width: 358px;
            }
}

.footer-form__botton{
  display: inline-flex;
  margin-left: 12px;
  padding: 10px 32px;
  border: 1px solid transparent;
  min-width: 200px;
  max-height: 50px;
  font-family: $font-text;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: $primary-white-color;
  letter-spacing: 0.06em;
  background-color:$accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__icon{
  margin-left: 10px;
  width: 24px;
  height: 24px;
}