@import"./area__first";
@import"./area__second";
@import"./area_third";
@import"./copyright";


.footer-page{

    background: #2F303A;
    margin-right: auto;
    margin-left: auto;

  @media screen and (min-width: $mobile){
    width: $mobile;}
  
   @media screen and (min-width: $tablet){
    width: $tablet;}
  
   @media screen and (min-width: $decktop){
    width: 1600px;}
}

.footer-area{
    
    padding-top: 60px;
    padding-bottom: 60px;
       @media screen and (min-width: $decktop){
          display: flex; 
          justify-content: space-around; 
          align-items: baseline;}
}

.footer-tablet{
    @media screen and (min-width: $tablet) {
      display: flex;  
      justify-content: space-around;
      align-items: baseline;
    }



  
}