
// ------------------------container------------------------
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  
  
    @media screen and  (min-width: $mobile){
        width: 480px;}


    @media screen and (min-width: $tablet){
        width: $tablet;
  }

    @media screen and (min-width: $decktop){
        width: $decktop;
  }
}