
// body{
//   background: var(--primary-white-color);
//   padding-top: 80px;
// }


// /* Змінна стилів в list */
// .list-style{
//   list-style: none;
//   margin: 0px;
//   padding: 0px;
// }
// /* --------------------- */

/* відключення відступів  */
h1,h2,h3,h4,h5,h6,p{
  margin:0px;  
}
/* --------------- */

img{
  display: block;
}


textarea{
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  background-color: yellowgreen;
  @media screen and  (min-width: $mobile){
    width: $mobile;
  }

  @media screen and (min-width: $tablet){
    width: $tablet;
  }

 @media screen and (min-width: $decktop){
    width: $decktop;
  }
}