
.header-address{
    margin-left: auto;
}

.address-nav {
    @extend %list;

        @media screen and (max-width: $mobile-max){
            margin-top:60px;}
        
        @media screen and(min-width: $decktop){
            display: flex;}
    }



.address-nav__item + .address-nav__item{
    @media screen and (max-width: $mobile-max){
        margin-top: 16px;
    }

     @media screen and (min-width: $tablet ) and (max-width: $tablet-max){
        margin-top: 10px;
    }

    @media screen and (min-width: $decktop){
        margin-left: 50px;
  }
}

.address-nav__link{
  font-family:$font-text;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color:$secondary-color;
  text-decoration: none;
  @include transitionDurationTaming();
  padding: 0;
 
    @media screen and (max-width: $mobile-max){
        font-size: 18px;}


    @media screen and (min-width: $decktop){
        padding-top: 32px;
        padding-bottom: 32px;  
        }

    &:hover,
    &:focus{
      color:$accent-color;
}
}

.address-nav__icon-mail{ 
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill:currentColor;
}

.address-nav__icon-phone{
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill:currentColor;
}
