@import'./logo';
@import'./site-nav';
@import'./address';
@import'./botton';



.container__header{
    
        display: flex;
        align-items: center;

        @media screen and ( max-width: $mobile-max){
        position: relative;
        min-height: 60px;
        justify-content: space-between;
       } 
        
}

.first-mobile{

    display: flex;
    align-items: center;
    

        @media screen and(max-width: $mobile-max){
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        min-height: 90px;
        background-color: white;
        text-align: center;
        display: none;
        padding-top: 120px;
        padding-bottom: 60px;

    &.is-open{
        display: block;}
    } 
}
