


.header-nav{
    @media screen and(min-width: $tablet){
       display: flex;
       align-items: center; 
    }
}

.site-nav{
  @extend %list;

  @media screen and (min-width: $tablet) {
     display: flex;
      margin-left: 81px;} 
}



     .site-nav__item + .site-nav__item{
        @media screen and (max-width: 767px){
            padding-top:40px;}
        

        @media screen and (min-width: $tablet){
            margin-left: 50px;}   
    }




.site-nav__link{
  display: inline-block;
  position: relative;
  font-family:$font-text;
  font-style: normal ;
  color:var(--main-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;
  @include transitionDurationTaming();
  
// --padding beetwen text an border
@media screen and (max-width: 767px) {
    padding-bottom: 8px;}

@media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.20;
    padding-top: 32px;
    padding-bottom: 32px;}

  @media screen and (min-width: $decktop) {
  padding-top: 32px;
  padding-bottom: 32px;}

      &:hover,
      &:focus {
      color:$accent-color;}

  &--active{
  color:$accent-color;}

      &--active::after{
      content:"";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border:2px solid $accent-color;} 
 }
